extends ./layout/index 

block contenido 
    main.container.mt-5 
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus culpa repudiandae, facere consequuntur hic a laborum vero dolorem.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum alias laboriosam quae facilis aspernatur enim sed maxime deleniti, iure voluptates labore repudiandae unde iusto nobis facere perspiciatis ipsum inventore nulla.Incidunt, enim ut! Quia, iusto. Labore nam sapiente dolorem voluptate, accusamus quae asperiores eaque vero magnam dicta quo, esse atque qui consequuntur? Accusamus est voluptatem vitae quidem porro neque perspiciatis?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis maxime aperiam, at quo blanditiis, perferendis earum molestiae, deleniti esse nostrum dignissimos commodi quod incidunt voluptate saepe adipisci placeat unde alias.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate delectus voluptatem, dolor perspiciatis repellat adipisci ad fugit, temporibus est deleniti consectetur!
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate delectus voluptatem, dolor perspiciatis repellat adipisci ad fugit, temporibus est deleniti consectetur!
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate delectus voluptatem, dolor perspiciatis repellat adipisci ad fugit, temporibus est deleniti consectetur!